*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    /* background-color: black; */
    position: relative;
    z-index: 10;
}
#page1{
   min-height: 100vh;
    width: 100%;
    background-color:#EFEAE3;
    /* background-color: red; */
    position: relative;
    padding: 0 30px;
}
nav{
    padding: 2vw 2vw;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 2vw;
}

#nav-part2 a{
    position: relative;
    padding: 10px 20px;
    border: 1.5px solid rgb(20, 19, 19);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
transition: all ease 0.2s;
overflow: hidden;


    color: rgb(22, 22, 22);
}

#nav-part2 a:hover {
    background-color: #aaa1a1;
color: rgb(8, 8, 8);
}
#center{
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 3px solid grey;
    padding-bottom: 28px;
}
#left h3{
width: 35vw;
font-size: 25px;
line-height: 30px;
}
#center h1{
    /* width: 25vw; */
    text-align: end;
    font-size: 110px;
    line-height: 90px;
}

#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 60px;
    position: relative;
}

#hero-shape{
    position: absolute;
    height: 36vh;
    width: 49vw;
    
    right: 0;
    top: 70vh;
}
#hero1{
    height: 100%;
    width: 100%;
    background:linear-gradient(#FE320A,#fe3f0a) ;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
position: absolute;
}
#hero2{
    height: 30vh;
    width: 30vw;
    background:linear-gradient(#FE320A,#fe3f0a) ;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
}
#hero3{
    height: 30vh;
    width: 30vw;
    background:linear-gradient(#FE320A,#fe3f0a) ;
    filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1{
    from{
        transform: translate(-10%, -10%);
    }
    to{
        transform: translate(30%, -30%);
    }
}
@keyframes anime2{
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform: translate(-20%, -30%);
    }
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 6vw 0;
    position: relative;
}
#moving-text h1{
    font-size: 65px;
    /* background-color: greenyellow; */
    display: inline-block;
}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;

}
#moving-text::-webkit-scrollbar{
display: none;
}
#gola{
    height: 40px;
    width: 40px;
    background-color: #fe3f0a;
    border-radius: 50%;
    display: inline-block;
    margin:0 16px ;
}
#container{
    /* margin-bottom: 30px; */
    /* background-color:black; */
    white-space:nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes move {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#page2-buttom{
    background-color: #EFEAE3;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5vw;
    position: relative;
    /* z-index: 9; */

}
#page2-buttom h1{
font-size: 60px;
width: 60%;
}
#bottom-part2{
width: 22%;
/* background-color: greenyellow; */
}

#bottom-part2 img{
width: 100%;
border-radius: 20px;
}
#bottom-part2 p{
font-weight: 300;
font-size: 18px;
margin-top: 20px;

}
#page2 #gooye{
    height:32vw ;
    width: 32vw;
    background: linear-gradient(to top right,#fc1702,#fa6114);
    position: absolute;
    top: 58%;
    left: 20%;
    filter: blur(20px);
    border-radius: 50%;
    animation-name: gooye;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes gooye {
    from{
        transform: translate(10%, -10% ) skew(0);
    }
    to{
        transform: translate(-10%,10%) skew(-12deg);
    }
}


#page3{
   min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

.elem{
    height: 140px;
    width: 100%;
    /* background-color: yellow; */
    border-bottom: 2px solid rgb(199, 197, 197);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}
.elem h2{
    font-size: 50px;
    position: relative;
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color:orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}
.elem:hover .overlay{
top: 0;
}


#fixed-image{
    height: 30vw;
    width: 20vw;
    /* background-color: red; */
    border-radius: 20px;
    position: fixed;
    top: 45%;
    left: 50%;
    z-index: 99;
    display:none;
    background-size: cover;
    background-position: center;
}

#page44{
    height: 50vw;
    width: 100%;
    background-color:#EFEAE3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 0;
}

#box1{
    height: 100%;
    width: 40%;
    padding: 4vw 4vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
}
#box1 h1{
    font-size: 60px;
    border-left:2px solid wheat;
    gap: 9px;
}
#box1 h1 span{
    color: rgb(177, 175, 175);
}

#box1 p{
    font-weight: 300;
font-size: 18px;
margin-top: 20px;
width: 260px;
height: 210px;
}
#box2{
    height: 100%;
    width: 50%;

}
#box2 img{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#page4{
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 2vw;
    overflow-x: auto;
}


.swiper {
    width: 100%;
    height: 100%;

  }

  .swiper-slide {
    width: 30%;
    border-left: 1px solid #525151;
    padding: 0 2vw;
  }

  
  .swiper-slide:nth-child(2n) {
    width: 40%;
  }

  .swiper-slide:nth-child(3n) {
    width: 20%;
  }
#page5{
    height: 90vh;
    width: 100%;
    /* background-color: aquamarine; */
}
#footer{
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    bottom: 0;
    background: linear-gradient( rgb(251, 44, 3),black);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 0;
   
}
 #footer h1{
    font-size: 21vw;
 }

 #footer-div h2{
line-height: 40px;
 }


#footer-div{
    border: none;
    outline: none;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 4vw;
    margin-top: 15px;
}
#footer-div p{
width: 27%;
}
#footer-buttom{
    border-top: 1px solid#dadada;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 17px 10px;
    z-index: 9;
}



@media screen and (max-width: 480px) {
    body {
      background-color: rgb(206, 38, 63);
    }
    nav img{
        width: 90px;
    }

    #nav-part2 a{
        padding: 6px 12px;
        border: 1.5px solid rgb(20, 19, 19);
        border-radius: 50px;
        font-size: 13px;
        font-weight: 500;
        
    }
    #center{
        height: 45vh;
        display: flex;
    }

#center h1 {
    text-align: end;
    font-size: 33px;
    line-height: 54px;
}
    #left{
        width: 25%;
    }
    #left h3{
        font-size: 16px;
        }
        #moving-text h1{
            font-size: 35px;
            display: inline-block;
        }
        #gola{
            height: 28px;
            width: 28px;
        }
    
        
#page2-buttom{
    background-color: #EFEAE3;
    height: 72vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 4.5vw;
    position: relative;
    /* z-index: 9; */

}
#page2-buttom h1 {
    font-size: 25px;
    width: 96%;
}


#bottom-part2 {
    width: 93%;
    z-index: 1;
}
#page2 #gooye{
    height:66vw ;
    width: 55vw;
    background: linear-gradient(to top right,#fc1702,#fa6114);
    position: absolute;
    top: 58%;
    left: 20%;
    filter: blur(20px);
    border-radius: 50%;
    animation-name: gooye;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes gooye {
    from{
        transform: translate(30%, -5% ) skew(0);
    }
    to{
        transform: translate(-10%,30%) skew(-12deg);
    }
}
.elem {
    height: 99px;
    width: 100%;
    border-bottom: 2px solid rgb(199, 197, 197);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8px;
    overflow: hidden;
}
.elem h2 {
    font-size: 30px;
    /* font-weight: 600; */
    position: relative;
    z-index: 9;
}
#page3{
    min-height: 90vh;
}
#page44{
    height: 80vh;
    width: 100vw;
display: flex;
flex-direction: column;
padding-block: 15px;
padding-inline: 15px;

}
#box1{
    height: 40vh;
    width: 90vw;
    border-radius: 15px;
    margin-bottom: 15px;
   padding-top: 10px;

}
#box2{
    height: 40vh;
    width: 90vw;
    border-radius: 15px;
background-size: contain;
}
#box2 img{
border-radius: 15px;
}
#box1 h1{
    font-size: 50px;
    height: 30vh;
}
#footer {
height: 90vh;
}
#footer h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}
#footer h2{
font-size: 39px;
}
#footer-buttom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}
#footer-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
#footer-div p{
width: 70%;
margin-block: 50px;
font-size: 21px;
}
}